:root {
    --lightgrayishviolet: hsl(270, 3%, 87%);
    --darkgrayishviolet: hsl(279, 6%, 55%);
    --verydarkviolet: hsl(278, 68%, 11%);
    --red: hsl(0, 100%, 66%);  
    font-size: 1vw;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: row;
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-zone {
    position: absolute;
    left: 12vw;
}

.card {
    border-radius: 10px;
    width: 26vw;
    min-width: 270px;
    height: 15vw;
    min-height: 155px;
}

.frontcard {
   position: relative;
   background: url(./images/bg-card-front.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 1.6rem 1.5rem 1.6rem 1.5rem;
}

.frontcard-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#white-circle {
    width: 2.6vw;
    height: 2.6vw;
    background-color: white;
    border-radius: 90%;
}

#transparent-circle {
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 90%;
    margin-top: 0.6vw;
    color: transparent;
    border: 1px solid white;
}

#card-num {
    position: absolute;
    color: white;
    left: 1.6rem;
    bottom: 2.3em;
    font-size: 1.85em;
    letter-spacing: 1.5px;
}

.exp {
    display: flex;
    justify-content: space-between;
}

#expire-date {
    position: absolute;
    right: 1.2rem;
    letter-spacing: 1.5px;
}

.frontcard footer {
    position: absolute;
    display: flex;
    color: white;
    bottom: 20px;
    font-size: 1rem;
    letter-spacing: 1px; 
    width: 93%;
}

.backcard {
    position: relative;
    top: 20px;
    left: 5vw;
    background: url(./images/bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.backcard span {
    position: absolute;
    top: 44.5%;
    right: 10%;
    color: white;
    font-size: 1rem;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    line-height: 1.6;
    font-size: 0.8rem;
    color: var(--verydarkviolet);
    font-weight: 700;
    letter-spacing: 1.2px;
    width: 35%;
    min-width: 250px;
}

.form input[type=text] {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: "Space Grotesk", sans-serif;
    padding-left: 8px;
    outline: none;
    margin-top: 5px;
}

.form input::placeholder {
    color: var(--lightgrayishviolet);
    letter-spacing: 1px;
    font-weight: 700;
}

.form input[type=text]:focus {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}

.inactive {
    border: 1px solid var(--lightgrayishviolet);
}

.active {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}

.warned {
    border: 1px solid var(--red);
}

.extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.7vw;
    width: 100%;
}

.date-info {
    display: flex;
    flex-direction: row;
}

#exp-month, #exp-year {
    width: 45%;
    margin-right: 0.4vw;
    min-width: 70px;
}

.cvc {
    width: 70%;
}

#btn-confirm {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--verydarkviolet);
    color: white;
}

.complete-state {
    text-align: center;
    line-height: 2;
}

.complete-state svg {
    transform: scale(0.8);
}

#thank-you {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.complete-state footer {
    font-weight: 700;
    color: var(--darkgrayishviolet);
    font-size: 0.9rem;
}

#btn-continue {
    margin: 30px auto;
    padding: 10px 7vw;
    border-radius: 5px;
    background-color: var(--verydarkviolet);
    color: white;
    font-family: "Space Grotesk";
    font-weight: 600;
}

.form section {
    color: var(--red);
    margin-top: 5px;
    font-size: 0.7rem;
    padding: 0;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .background {
        position: static;
        width: 100vw;
        height: 30vh;
        background: url(./images/bg-main-mobile.png);
    }

    .wrapper {
        padding-top: 20vw;
        height: 70vh;
    }

    .card-zone {
        top: 20px;
    }

    #background-img {
        width: 100%;
        height: 100%;
        content: url("./images/bg-main-mobile.png");
    }

    .backcard {
        top: -45vw;
        left: 7vw;
    }

    .card {
        width: 77vw;
        height: 43vw;
    }
 
    .backcard span {
        top: 19vw;
        left: 62vw;
        font-size: 2.8rem;
    }

    .frontcard {
        position: relative;
        top: 22vw;
        left: -25px;
        z-index: 100;
        padding: 3rem 3.8rem 3rem 3.8rem;
    }

    .frontcard header {
        gap: 10px;
    }

    #white-circle {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 90%;
    }

    #transparent-circle {
        width: 11px;
        height: 11px;
        margin-top: 9px;
    }

    #card-num {
        position: absolute;
        left: 4.5vw;
        bottom: 12vw;
        font-size: 5.3rem;
        letter-spacing: 1.2px;
    }

    .frontcard footer {
        margin-top: 24rem;
        font-size: 3rem;
        letter-spacing: 1px;
    }

    #expire-date {
        right: 5rem;
    }

    .form {
        font-size: 3.6rem;
        letter-spacing: 1.5px;
        min-width: 320px;
    }

    .form input[type="text"] {
        height: 40px;
        font-size: 1em;
    }

    .extra-info {
        gap: 12px;
    }

    #exp-month, #exp-year {
        max-width: 80px;
        margin-right: 0.6vw;
    }

    .cvc {
        max-width: 100px;
    }

    .form section {
        margin-top: 5px;
        font-size: 3.6rem;
        padding: 0;
    }

    #btn-confirm {
        margin-top: 20px;
        width: 100%;
        height: 12rem;
        font-size: 4rem;
    }

    .complete-state svg {
        transform: scale(1);
    }

    #thank-you {
        font-size: 6rem;
    }

    .complete-state footer {
        font-size: 4rem;
    }

    .complete-state button {
        width: 83vw;
        height: 13vw;
        font-size: 4rem;
    }
}


